/* footer */
.footer {
  text-align: center;
  height: 70px;
  padding: 20px 90px;
  background-color: black;
  color: white;
  font-size: 30px;
}
.footer a {
  margin: 20px;
}

@media only screen and (min-width:450px), (max-width: 600px) {
  .footer{
    font-size: 24px;
  }
}

/* footer ends */
