@import url("https://fonts.googleapis.com/css2?family=Mina&family=Orbitron&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Mina;
  background-color: black;
  color: white;
}

/*------------------------------------ nav-----------------*/
nav > ul > li > a:hover,
nav .option:hover,
.navItem .fa:hover {
  /* color: tomato; */
  font-size: 120%;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 20px 90px;
  border-bottom: 1px solid rgb(241, 62, 152);
  ;
  /* box-shadow: 0px 20px 20px 20px black; */
  background-color: rgb(241, 62, 152);
  position: fixed;
  width: 100%;
  z-index: 100;
  margin-bottom: 25px;
}

a {
  text-decoration: none;
  color: white;
}

.logo {
  float: left;
}
.navItem {
  display: inline-flex;
  margin-left: 55px;
  font-family: "Orbitron", sans-serif;
}
.navItem a,
.navItem .option,
.navItem .fa {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  display: inline;
  /* display: block; */
}
/* @media only screen and (max-width: 768px) { */
  /* For mobile phones: */
  /* [class*="col-"] { */
    /* width: 100%; */
  /* } */
/* } */
@media only screen and (max-width: 600px) {
  /* For extra small mobile phones: */
   .navItem {
     /* margin-left: 20px; */
     display: none;
   }
  .navItem a,
  .navItem .option,
  .navItem .fa {
    color: black;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    display: inline;
    background-color: rgb(241, 62, 152);
    float: none;
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  /* For large mobile phones, tablets */
  .navItem {
    display: none;
    }
}
@media only screen and (max-width: 1007px) {
  /* For medium size: */
  .nav{
    display: flex;
  }
    .navItem {
      margin-left: 20px;
     }
  .navItem a,
  .navItem .option,
  .navItem .fa {
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    float: none;
    display: inline-flex;
  }
}

/*--------------------------------nav-----------------------ends */

/* hero box */
.hero-box {
  background: url(../assets/images/xapora-model-afro2.jpg) #000;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.hero-text {
  margin-left: 200px;
}
.hero-text p {
  font-size: 22px;
}
.hero-text h1 {
  font-size: 52px;
  margin: 35px 0;
}
button {
  padding: 15px 20px;
  width: fit-content;
  background-color: rgb(241, 62, 152);
  border: 1px solid rgb(241, 62, 152);
  font-family: "Mina";
  font-size: 15px;
  font-weight: 700;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background: transparent;
  color: white;
}

@media only screen and (max-width: 670px) {
 .hero-box{
   background: black;
 }
  .hero-text{
    margin-left: 100px;
    /* align-items: center; */
  }
  .hero-text h1{
    font-size: 39px;
  }
}
@media only screen and (min-width: 671px) {
  .hero-box {
    /* background: url(../assets/images/xapora-model-afro2.jpg); */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    height: 100vh;
  }

  .hero-text {
    /* margin-left: 100px; */
    align-items: center;
  }
  .hero-text p{
    font-size: 18px;
  }
  .hero-text h1 {
    font-size: 30px;
  }
}
/* hero box ends */

/* bottom box */
.bottomBox {
  padding: 20px 90px;
}
.cards {
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}
.card1 {
  width: 500px;
  margin-right: 20px;
  background: url("../assets/images/xapora\ model\ 1.jpg");
  background-size: cover;
}
.cards p {
  /* background-color: white; */
  text-align: center;
  color: white;
  margin-top: 30%;
  border-radius: 10px;
  /* box-shadow: 0 0 3px black;    */
  opacity: 0.4;
  font-weight: 900;
  font-size: 60px;
}
.card2 {
  width: 500px;
  margin-right: 20px;
  background: url("../assets/images/xapora\ bags.png");
  background-size: cover;
}
.card2 p {
  color: black;
}
.card3 {
  width: 500px;
  margin-right: 20px;
  background: url("../assets/images/xapora\ male.jpg");
  background-size: cover;
}
/* bottom box ends */

/* ABOUT PAGE */
.ABOUT {
  text-align: center;
  padding-top: 150px;
}

.CEO {
  display: flex;
  padding-top: 100px;
  width: 70%;
  max-width: 900px;
  margin: auto;
  flex-direction: column;
}

.CEO img {
  width: 60%;
  margin-top: 100px;
}

.ceo-info {
  /* margin-left: 50px;
  margin-top: 100px; */
}

/* about page ends */
